/* Add CSS Styling */
.odd{
    background-color: rgb(245, 180, 190);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second{
    color: #0000ff;
    font-size: 36px;
}

.adjust-font-size{
    font-size: 24px;
}

#fourth{
    background-color: hsl(120, 73%, 75%);
    font-weight: bold;
}